{% extends 'TwigBundle:Exception:layout.html.twig' %}

{% block content %}
    <h1>{% trans %}Oops! 500 Server error.{% endtrans %}</h1>
    <h2>{% trans %}An unexpected error occured on the server!{% endtrans %}</h2>
    <img class="img-responsive img-thumbnail" alt="500" src="{{ asset('css/img/errors/500.gif') }}" />
    <p>
        {% trans %}We’re so sorry! Something went wrong and it wasn’t your fault.{% endtrans %}
    </p>
    <p>
        {% trans %}Please, try to contact the administrator to explain how upset you are.{% endtrans %}
    </p>
    {% if content is defined and content %}
        <p>
            {% trans %}Take note of this message if you want to report:{% endtrans %}
            {% trans with {'%content%': content } %}“%content%”{% endtrans %}
        </p>
    {% endif %}
{% endblock %}