/*
 *
 *   Moustache Landing Page
 *
*/

@import "bootstrap.scss";
@import "fontawesome.scss";
@import "partial/_global.scss";
@import "partial/_navbar.scss";


/* HOME STYLES
-------------------------------------------------- */

.torrent-section {
    .card {
       width: 100%;
       height: 95%;
       border: 1px solid #ccc;
    }

    .card-header {
        padding: .50rem 1rem;
    }

    .card-block {
        #{$a-tags} {
            transition: color 0.5s ease;
            color: rgb(55, 58, 60);
            text-decoration: none;
        }

        #{$a-tags-hover} {
           color: #000;
        }
    }

    .card-inverse {
        background-color: #888;
    }

    .progress {
        border-radius: 0;
        margin-bottom: 0;
    }

    .fa.video {
        @extend .fa-film;
    }

    .fa.audio {
        @extend .fa-music;
    }

    .fa.image {
        @extend .fa-photo;
    }

    .fa.archive {
        @extend .fa-file-archive-o;
    }

    .fa.other {
        @extend .fa-file-word-o;
    }

    .fa.pdf {
        @extend .fa-file-pdf-o;
    }

    .fa.directory {
        @extend .fa-folder-open-o;
    }
}

.torrent-selector {
    margin: 0;

    input {
        display: none;
    }
}
