<div>
    <h1>{% trans %}Hello there!{% endtrans %}</h1>
    <br>
    <h3>{% trans %}It seems you have no torrent yet, but stay cool!{% endtrans %}</h3>
    <br>

    {{ form_start(formTorrent, {'action': path('moustache_torrent_add'), 'attr': {'class': 'hidden-xs-down'}}) }}
        <div class="form-group row">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <label class="btn btn-secondary btn-lg btn-block torrent-selector" for="torrent-selector">
                    {{ form_widget(formTorrent.uploadedFile, {'id': 'torrent-selector', 'attr': {'class': 'btn btn-secondary btn-lg btn-block torrent-selector', 'accept': '.torrent'}}) }}
                    {% trans %}Pick .torrent local file…{% endtrans %}
                </label>
            </div>

            <div class="col-lg-8 col-md-7 col-sm-6">
                {{ form_widget(formTorrent.uploadedFileByUrl, {'attr': {'class': 'form-control form-control-lg torrent-url-nav', 'placeholder': 'or paste a torrent (http(s)://…) or a magnet (magnet:…) link'|trans}}) }}
            </div>
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto">
                <button class="btn btn-primary btn-block btn-lg" type="submit">
                    <span class="fa fa-2x fa-upload" aria-hidden="true">
                     {% trans %}Start downloading{% endtrans %}</span>
                    <span class="fa fa-2x fa-download" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    {{ form_end(formTorrent) }}
</div>