{% extends 'MoustacheBundle:Default:base.html.twig' %}

{% block content %}
    {% for file in torrent.files %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            {% embed 'MoustacheBundle:Default:_file-card.html.twig'%}
            {% endembed %}
        </div>
    {% endfor %}
{% endblock content %}