<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>{% block title %}That ain’t a title{% endblock %} | Moustache</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#f5f5f5">
        {% block meta %}{% endblock %}

        {% block stylsheets %}
            {% stylesheets filter='cssrewrite' filter='uglifycss' output='css/compiled/all.css'
                '@MoustacheBundle/Resources/static/css/home.scss'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" media="screen">
            {% endstylesheets %}
        {% endblock stylsheets %}

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic%7CBad%20Script:400" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg">
        <link rel="icon" href="/favicon.ico">

        {% block headerscripts %}
            <script type="text/javascript" src="{{ asset('js/lib/jquery.min.js') }}"></script>
        {% endblock headerscripts %}
    </head>

    <body>
        {% block bodyhead %}
            {% if  is_granted('ROLE_USER') %}
                {% include 'MoustacheBundle::nav.html.twig' %}
            {% else %}
                {% include 'MoustacheBundle::nav-empty.html.twig' %}
            {% endif %}
        {% endblock bodyhead %}

        <div id="content" class="container">
            {% for type, messages in app.session.flashbag.all() %}
                {% include('MoustacheBundle::_alert.html.twig') %}
            {% endfor %}

            {% block body %}
            {% endblock body %}
        </div>

        {% block bodyfoot %}
        {% endblock bodyfoot %}

        {% block footerscripts %}
        {% endblock footerscripts %}
    </body>
</html>
