<nav class="navbar navbar-full navbar-dark bg-inverse bg-faded">
    <div class="navbar-center">
        <a class="navbar-brand" href="{{ path('moustache_torrent') }}"><img alt='moustache logo' src="{{ asset('css/img/logo.svg') }}"></a>
    </div>
</nav>