<nav class="navbar navbar-full navbar-dark bg-inverse bg-faded">
    <div class="col-md-1 col-xs-12 align-middle text-xs-center">
        <a class="navbar-brand hidden-sm-down" href="{{ path('moustache_torrent') }}"><img alt='moustache logo' src="{{ asset('css/img/logo.svg') }}"></a>
        <a class="hidden-md-up" href="{{ path('moustache_torrent') }}"><img alt='moustache logo' src="{{ asset('css/img/logo.svg') }}"></a>
    </div>
</nav>